---
import App from '../components/App.vue'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

		<title>Frontend Mentor | Todo app</title>
	</head>
	<body>
		<App client:only />
	</body>
</html>

<style is:global>
	:root {
		--primary: hsl(220, 98%, 61%);
		--todo-background: hsl(0, 0%, 98%);
		--todo-border: var(--checkbox);
		--rounded-corners: .5rem;
		--text: hsl(235, 24%, 19%);
		--text-placeholder: hsl(233, 11%, 84%);
		--text-completed: var(--checkbox);
		--spacing-block: 1.5rem;
		--spacing-inline: 2rem;
		--checkbox: hsl(236, 33%, 92%);
		--checkbox-gradient: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
		--background: hsl(0, 0%, 98%);
		--footer-text: hsl(236, 9%, 61%);
		--footer-text-hover: hsl(235, 19%, 35%);
		--fs-normal: 1.6rem;
		--fs-small: 1.4rem;
	}

	* {
		box-sizing: border-box;
	}

	html {
		padding: 0;
		margin: 0;
		font-size: 62.5%;
	}

	body {
		background-image: url('../../public/bg-desktop-light.jpg');
		background-position: center top;
		background-repeat: no-repeat;
		font-size: 1.6rem;
	}
		font-family: 'Josefin Sans', sans-serif;
		margin: 0;
	}

	}
	}
</style>
