---
import FancyCheckbox from './FancyCheckbox.astro';
---

<li>
    <label>
        <input type="checkbox" name="todo">
        <FancyCheckbox
            backgroundColor="" />
        <p>Text</p>
        <button><img src='../../public/icon-cross.svg' alt="Image of a cross to delete item #1: "></button>
    </label>
</li>

<style>
	li:first-child {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		overflow: hidden;
	}
	li:not(:last-child) {
		border-bottom: 1px solid red;
	}
	li:last-child {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		overflow: hidden;
	}
	label {
		padding: 15px 20px;
		background-color: white;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
    input:checked ~ p {
        color: red; /* Todo */
    }
	p {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		flex: 1;
		padding-inline: 10px;
        margin: 0;
		line-height: normal;
	}
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		border: none;
		background: none;
	}
</style>
